@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

.theme-light {
    --color-primary: #ffffff;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --hover-color: rgb(217, 216, 216);
    --font-color: #000000;
    --gradient-start: rgba(0, 0, 0, 0);
    --gradient-end: rgba(0, 0, 0, 0);
}

.theme-dark {
    --color-primary: #1d2024;
    --color-secondary: #353b43;
    --color-accent: #12cdea;
    --font-color: #878787;
    --hover-color: #353b43;
    --gradient-start: rgba(0, 0, 0, 0.83);
    --gradient-end: rgba(0, 0, 0, 0.8);
}

$title-color: var(--font-color);
$subtitle-color: var(--font-color);
$navbar-item-hover-background-color: var(--hover-color);

@import "./fonts/style.css";

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/breadcrumb.sass";
@import "../node_modules/bulma/sass/components/message.sass";
@import "../node_modules/bulma/sass/components/media.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";

body {
    background-color: #353b43;
}

.navbar {
    position: sticky !important;
    top: 0 !important;
    z-index: 99999;
}

.navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-end {
    .navbar-item {
        height: 40px;
        margin: auto 0;
        color: #878787;
    }
}

.is-focus {
    background-color: #353b43 !important;
    color: #3298dc !important;
}

.bottom-line-hover {
    position: relative;
}

.bottom-line-hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #878787;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.bottom-line-hover:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.social-icon-hr {
    background-color: #fff;
    height: 1px;
}

.border-radius {
    border-radius: 1.4em;
    background-color: transparent;
    border-color: transparent;
}

.border-radius:hover {
    border-color: #8c9b9d;
    color: #f2f2f2;
}

.margin-right {
    margin-right: 5px !important;
}

.search-wrapper {
}

.search-wrapper-active {
    display: inline;
}

.search-container {
    width: 0px;
    height: 50px;
    background: #41484a;
    text-align: center;
    line-height: 45px;
    padding-right: 50px;
    transition: all 0.5s ease;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    top: -100%;
    left: 50%;
    transform: translate(-50%);
}

.input {
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 0%;
    padding: 5px 0;
    outline: none;
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: none;
}

.search-container .fa {
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 22px;
    cursor: pointer;
}

.search-container.active {
    width: 500px;
    padding-left: 25px;
    transition: all 0.5s ease;
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}

.input.active {
    width: 93%;
    padding-left: 5px;
    transition: all 0.5s 0.8s ease;
}

.input:focus {
    width: 100% !important;
}

input::placeholder {
    color: #fff;
}

.search-list {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

.hero-area {
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.83), rgba(0, 0, 0, 0.8) ), url("./img/orchard-skills.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

@media (max-width: 670px) {
    .responsive-font-size {
        font-size: 5vw !important;
    }

    .responsive-font-small-size {
        font-size: 4vw !important;
    }
}

@media (max-width: 768px) {
    .search-list {
        width: 100%;
    }

    .search-container.active {
        width: 100%;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 1024px) {
    .hero-area {
        height: auto;
    }

    .navbar-menu {
        background-color: #1d2024 !important;
    }
}

.background-color-dark-grey {
    background-color: var(--color-primary) !important;
    color: var(--font-color) !important;
}

.background-color-light-grey {
    background-color: var(--color-secondary) !important;
    color: var(--font-color) !important;
}

body {
    font-family: "Poppins", sans-serif !important;
    color: white !important;
}

.light-grey-text {
    color: var(--font-color) !important;
}

.hover-effect-to-top {
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
}

.hover-effect-to-top:hover {
    top: -10px;
}

.background-gray {
    background-color: #303030;
}

.video-play-button {
    position: relative;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 80px;
    border-radius: 50%;
    padding: 22px 28px 16px 28px;
}

.video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ba1f24;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
}

.video-play-button:hover:after {
    background-color: darken(#fa183d, 10%);
}

.video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
}

.video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}

@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}

.footer {
    padding: 3rem 1.5rem !important;
}

.under-line {
    width: 90px;
    margin-top: 5px;
    margin-bottom: 40px;
    background-color: #fff;
}

.container {
    max-width: 1140px;
}

p,
ul {
    margin-top: 0;
}

.pointer {
    cursor: pointer;
}

ul {
    li {
        margin-right: 0.5rem;
    }
}

.social-icon-hr {
    background-color: #fff;
    height: 1px;
}

.border-radius {
    border-radius: 1.4em;
    background-color: transparent;
    border-color: transparent;
}

.border-radius:hover {
    border-color: #8c9b9d;
    color: #f2f2f2;
}

header.masthead {
    margin-bottom: 50px;
    background: no-repeat center center;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    background-size: cover;
}

header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5;
}

header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading,
    header.masthead .post-heading,
    header.masthead .site-heading {
        padding: 200px 0;
    }
}

header.masthead .page-heading,
header.masthead .site-heading {
    text-align: center;
}

header.masthead .page-heading h1,
header.masthead .site-heading h1 {
    font-size: 50px;
    margin-top: 0;
}

header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width: 768px) {
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
        font-size: 80px;
    }
}

header.masthead .post-heading h1 {
    font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block;
}

header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: "Lora", "Times New Roman", serif;
}

header.masthead .post-heading .meta a {
    color: #fff;
}

@media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
        font-size: 55px;
    }

    header.masthead .post-heading .subheading {
        font-size: 30px;
    }
}

.post-preview > a {
    color: #ffeb3b;
}

.post-preview > a:focus,
.post-preview > a:hover {
    text-decoration: none;
    color: #ff5722;
}

.post-preview > a > .post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
}

.post-preview > a > .post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
    color: white;
}

.post-preview > .post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}

.post-preview > .post-meta > a {
    text-decoration: none;
    color: white;
}

.post-preview > .post-meta > a:focus,
.post-preview > .post-meta > a:hover {
    text-decoration: underline;
    color: #0085a1;
}

@media only screen and (min-width: 768px) {
    .post-preview > a > .post-title {
        font-size: 36px;
    }
}

.floating-label-form-group {
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #dee2e6;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group input::-webkit-input-placeholder,
.floating-label-form-group textarea::-webkit-input-placeholder {
    color: #868e96;
    font-family: "Lora", "Times New Roman", serif;
}

.floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
}

.floating-label-form-group .help-block {
    margin: 15px 0;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #0085a1;
}

form .form-group:first-child .floating-label-form-group {
    border-top: 1px solid #dee2e6;
}

.btn {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-primary {
    background-color: #0085a1;
    border-color: #0085a1;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    background-color: #00657b !important;
    border-color: #00657b !important;
}

.btn-lg {
    font-size: 16px;
    padding: 25px 35px;
}

.form-form {
    width: 100%;
}

.widget-body {
    width: 100%;
    padding-bottom: 10px;

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1140px;
    }
}

.flow,
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto,
.widget .widget-size-100,
.widget .widget-size-25,
.widget .widget-size-33,
.widget .widget-size-50,
.widget .widget-size-66,
.widget .widget-size-75,
.widget-size-100,
.widget-size-25,
.widget-size-33,
.widget-size-50,
.widget-size-66,
.widget-size-75 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.mt-5,
.my-5 {
    margin-top: 3rem !important;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25)
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.form-control-file,
.form-control-range {
    display: block;
    width: 100%
}


.input-group > .form-control,
.input-group > .form-control-plaintext {
    position: relative;
    flex: 1 1 0%;
    min-width: 0;
    margin-bottom: 0
}

.navbar-dropdown a.navbar-item:focus,
.navbar-dropdown a.navbar-item:hover {
    color: #3273dc
}

.logout-button {
    border: unset;
    width: 100%;
    cursor: pointer;
}

.logout-button:hover {
    color: #3273dc !important;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch:hover {
    background-color: unset !important;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #464646;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('./img/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('./img/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
